progress = false
http-proxy = http://proxy01.ica.se:8080
https-proxy = http://proxy01.ica.se:8080
# registry = https://repository-mgr.ecom.ia.icacorp.net/repository/npm-proxy/
strict-ssl = false
# no_proxy = repository-mgr.ecom.ia.icacorp.net

# phantomjs_cdnurl = https://repository-mgr.ecom.ia.icacorp.net/repository/dist-phantomjs/downloads
# sass_binary_site = https://repository-mgr.ecom.ia.icacorp.net/repository/dist-node-sass/

#registry__original_in_case_proxy_down = https://registry.npmjs.org/
#phantomjs_cdnurl__original_in_case_proxy_down = https://bitbucket.org/ariya/phantomjs/downloads
#sass_binary_site__original_in_case_proxy_down = https://github.com/sass/node-sass/releases/
